<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
 <title>{% block title %} Welcome {% endblock %}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
	    <button class="btn btn-primary" onclick="window.location.href='/home'">home</button>
    </div>
  </div>
</nav>
 <div class="container" style="padding:20px;">
    <div class="col-md-12 well">
        <h3 class="text-primary">Welcome Instructors!</h3>
        <hr style="border-top:1px dotted #ccc;"/>
        <button class="btn btn-primary" onclick="window.location.href='/instrr'">View courses</button>
        <button class="btn btn-primary" onclick="window.location.href='/instructor2'">View students</button>


{% block table %} {% endblock %}
        {#        <button type="button" class="btn btn-primary" id="Button2">Maximum</button>#}
{#     <script>#}
{#        document.getElementById("Button2").addEventListener("click", function(){#}
{#        // Do something when the button is clicked#}
{#        alert("Maximum!");#}
{#        });#}
{#    </script>#}
{#        <button type="button" class="btn btn-primary" id="Button3">Average</button>#}
{#     <script>#}
{#        document.getElementById("Button3").addEventListener("click", function(){#}
{#        // Do something when the button is clicked#}
{#        alert("Average");#}
{#        });#}
{#    </script>#}
    </div>
    </div>
</body>
</html>
