<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
 <title>{% block title %}Python Django Simple Dropdown List Binding Populate Data {% endblock %}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        form {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <button class="btn btn-primary" onclick="window.location.href='/home'">home</button>
    </div>
  </div>
</nav>
 <div class="container">
    <div class="col-md-12 well">
        <h3 class="text-primary">Welcome Admin!</h3>
        <hr style="border-top:1px dotted #ccc;"/>
  {% block content %} {% endblock %}
     <p> Click button to get list of name by name,department and salary</p>
        <button class="btn btn-primary" onclick="window.location.href='/name'">Name</button>
        <button class="btn btn-primary" onclick="window.location.href='/dept_name'">Department</button>
        <button class="btn btn-primary" onclick="window.location.href='/salary'">Salary</button>
  {% block salary %} {% endblock %}
    <br><b>Salary:</b></br>
        <button class="btn btn-primary" onclick="window.location.href='/minumumTable'">Minimum</button>
        <button class="btn btn-primary" onclick="window.location.href='/maximumTable'">Maximum</button>
        <button class="btn btn-primary" onclick="window.location.href='/averageTable'">Average</button>

{% block table %} {% endblock %}

<form method="post" action="/admin1/">
  {% csrf_token %}
  <label for="name">Name:</label>
  <select id="name" name="name">
      <option disabled="true" selected>-- Select Name --</option>
        {% for n in names %}
            <option>{{ n.name }}</option>
        {% endfor%}
  </select>
      <label for="year">Year:</label>
  <select id="year" name="year">
            <option disabled="true" selected>-- Select Year --</option>
  <script>
    for (var i = 2019; i <= 2028; i++) {
      document.write('<option value="' + i + '">' + i + '</option>');
    }
  </script>
  </select>
      <label for="semester">Semester:</label>
  <select id="semester" name="semester">
            <option disabled="true" selected>-- Select Semester --</option>
        {% for s in semesters %}
            <option>{{ s.semester }}</option>
        {% endfor%}
  </select>
  <button type="submit">Submit</button>
</form>
      {% block table1 %} {% endblock %}
    </div>
        </div>
     </div>
</body>
</html>