<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
 <title>{% block title %}Python Django Simple Dropdown List Binding Populate Data {% endblock %}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <button class="btn btn-primary" onclick="window.location.href='/home'">home</button>
    </div>
  </div>
</nav>
 <div class="container" style="padding:20px;">
    <div class="col-md-12 well">
        <h3 class="text-primary">Welcome Instructor!</h3>
        <hr style="border-top:1px dotted #ccc;"/>
  <form action="{% url 'feature5' %}" method="post">
            {% csrf_token %}
      <div>
            <label for="instructor">Enter an instructor name:</label>
            <input type="text" id="instructor" name="instructor"><br><br>
      </div>
      <div>
            <label for="course1">Enter a course:</label>
            <input type="text" id="course1" name="course1" required>
      </div>
      <div>
            <label for="semester">Enter a semester (1 for fall, 2 for spring):</label>
            <input type="text" id="semester" name="semester" required>
      </div>
      <input type="submit" value="Submit">
      </form>
        {% block feature5 %} {% endblock %}
    </div>
    </div>
</body>
</html>






