<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
 <title>{% block title %}Python Django Simple Dropdown List Binding Populate Data {% endblock %}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <button class="btn btn-primary" onclick="window.location.href='/home'">home</button>
    </div>
  </div>
</nav>
 <div class="container" style="padding:20px;">
    <div class="col-md-12 well">
        <h3 class="text-primary">Welcome Student!</h3>
        <hr style="border-top:1px dotted #ccc;"/>
    </div>
 </div>
<form action="{% url 'f6' %}" method="post">
{% csrf_token %}
    <label for="dept">Department:</label>
    <select name="dept" id="dept">
        <option disabled="true" selected>-- Select Course --</option>
        {% for r in depts %}
            <option>{{ r.dept_name }}</option>
        {% endfor%}
    </select>
    <label for="year">Year:</label>
    <select name="year" id="year">
        <option disabled="true" selected>-- Select Year --</option>
        {% for r in years %}
            <option>{{ r.year }}</option>
        {% endfor%}
    </select>
    <label for="sem">Semester:</label>
    <select name="sem" id="sem">
        <option disabled="true" selected>-- Select Semester --</option>
        {% for r in semesters %}
            <option>{{ r.semester }}</option>
        {% endfor%}
    </select>
  <input type="submit" value="Submit">
</form>

<p>Click on the submit button to submit the form.</p>
</body>
</html>